server {
        listen 5000 default_server;

        root /usr/share/nginx/html;
        index index.html index.htm;


	location / {
	    proxy_set_header Host $host;
	    proxy_set_header X-Real-IP $remote_addr;
	    client_max_body_size 100m;
	    proxy_pass http://localhost:5001;
	}
}